.settings {
  position: relative;
  height: calc(50vh - 100px);
  background: #fff;
  flex-direction: column;
  gap: 20px;
}
.label {
  position: relative;
  cursor: pointer;
  &:before {
    z-index: 10;
    position: absolute;
    left: 21px;
    top: -10px;
    content: attr(title);
    display: block;
    padding: 0 8px;
    color: #000;
    font-weight: 500;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box;
  }
}
.input {
  outline: none;
  width: 300px;
  height: 40px;
  background-color: #fff;
  box-shadow: none;
  -webkit-appearance:none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 30px;
  border: 1px solid black;
  &:focus {
    border: 2px solid black;
  }
}
.button {
  position: absolute;
  bottom: calc(0px - 20px);
  width: 200px;
  height: 40px;
  background-color: #1748D9;
  outline: none;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  -webkit-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.94);
  -moz-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.94);
  box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.94);
  transition: 0.3s linear;
  &:active {
    transform: scale(0.95);
    background-color: #FBF7FB;
    color: #000;
  }
}